{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="card rounded">
    <h3 class="m-3">
        {% if type == 'new' %} Dodaj nowy raport pomiarowy {% elif type == 'detail' %}
            Dane raportu pomiarowego {% else %} Zaktualizuj dane raportu pomiarowego {% endif %}
    </h3>
    <hr class="border border-default">
    <form method="post">{% csrf_token %}
    <div class="form-group card-body mb-0">
    <!-- Order data-->
    <div class="row">
        <div class="col md-3">
                {{ order_form.client.label_tag }}
                {{ order_form.client }}
        </div>
        <div class="col md-3">
                {{ order_form.product.label_tag }}
                {{ order_form.product }}
        </div>
        <div class="col md-3">
                {{ order_form.order_sap_id.label_tag }}
                {{ order_form.order_sap_id }}
        </div>
        <div class="col md-3">
            {{ order_form.date_of_production.label_tag }}
            {{ order_form.date_of_production }}
        </div>
    </div>
    <h3 class="m-1 mt-3 mb-2">Dane pomiarowe</h3>
        <!-- Measurements table -->
    <div class="row">
        {{ measurement_formset.management_form }}
        {% for form in measurement_formset %}
            {% if forloop.first %}
                <div class="col-md-2">
                <table class="table table-bordered m-1">
                    <tr style="height: 51px;">
                        <td colspan="2">
                            {{ form.pallet_number.label_tag }}
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td rowspan="3">
                            Kontrola średnicy wewn.
                        </td>
                        <td>
                            Góra
                        </td>
                    <tr style="height: 51px;">
                        <td>
                            Środek
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td>
                            Dół
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td rowspan="3">
                            Kontrola średnicy zewn.
                        </td>
                        <td>
                            Góra
                        </td>
                    <tr style="height: 51px;">
                        <td>
                            Środek
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td>
                            Dół
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td rowspan="3">
                            Kontrola długości
                        </td>
                        <td>
                            Góra
                        </td>
                    <tr style="height: 51px;">
                        <td>
                            Środek
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td>
                            Dół
                        </td>
                    </tr>
                    <tr style="height: 69px;">
                        <td colspan="2">
                            {{ form.flat_crush_resistance_target.label_tag }}
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td colspan="2">
                            {{ form.moisture_content_target.label_tag }}
                        </td>
                    </tr>
                    <tr style="height: 51px;">
                        <td colspan="2">
                            {{ form.weight.label_tag }}
                        </td>
                    </tr>
                    <tr style="height: 69px;">
                        <td colspan="2">
                            {{ form.remarks.label_tag }}
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
        <div class="col-md-10">
            <div id="measurement-formset-unique"
                 style="overflow-x: auto; white-space: nowrap;">
                <div id="measurement-form-last" style=" display: inline-block; float: none; width: 10%;" class="m-1">
                    {{ form.pallet_number }}
                    {{ form.internal_diameter_tolerance_top }}
                    {{ form.internal_diameter_target }}
                    {{ form.internal_diameter_tolerance_bottom }}
                    {{ form.external_diameter_tolerance_top }}
                    {{ form.external_diameter_target }}
                    {{ form.external_diameter_tolerance_bottom }}
                    {{ form.length_tolerance_top }}
                    {{ form.length_target }}
                    {{ form.length_tolerance_bottom }}
                    {{ form.flat_crush_resistance_target }}
                    {{ form.moisture_content_target }}
                    {{ form.weight }}
                    {{ form.remarks }}
                </div>
            </div>
        </div>
    </div>
            {% endfor %}
    <br>
        <button type="button" class="btn btn-secondary add-form-row">Dodaj nowy pomiar</button>
        <button type="button" class="btn btn-secondary remove-form-row">Usuń pomiar</button>

{#            <thead>#}
{#            <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% for hidden in measurement_form.hidden_fields %}#}
{#                            {{ hidden }}#}
{#                            {% endfor %}#}
{#                        {% if forloop.first %}#}
{#                            <td colspan="2">{{ measurement_form.pallet_number.label }}</td>#}
{#                        {% endif %}#}
{#                        <td id="0" class="to-copy">{{ measurement_form.pallet_number }}</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td rowspan="3">Kontrola średnicy wewnętrznej</td>#}
{#                            <td>{{ measurement_form.internal_diameter_tolerance_top.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="1" class="to-copy">{{ measurement_form.internal_diameter_tolerance_top }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.internal_diameter_tolerance_top }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.internal_diameter_target.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="2" class="to-copy">{{ measurement_form.internal_diameter_target }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.internal_diameter_target }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.internal_diameter_tolerance_bottom.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="3" class="to-copy">{{ measurement_form.internal_diameter_tolerance_bottom }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.internal_diameter_tolerance_bottom }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td rowspan="3">Kontrola średnicy zewnętrznej</td>#}
{#                            <td class="col-sm-1">{{ measurement_form.external_diameter_tolerance_top.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="4" class="to-copy">{{ measurement_form.external_diameter_tolerance_top }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.external_diameter_tolerance_top }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.external_diameter_target.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="5" class="to-copy">{{ measurement_form.external_diameter_target }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.external_diameter_target }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.external_diameter_tolerance_bottom.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="6" class="to-copy">{{ measurement_form.external_diameter_tolerance_bottom }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.external_diameter_tolerance_bottom }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td rowspan="3">Kontrola długości:</td>#}
{#                            <td class="col-sm-1">{{ measurement_form.length_tolerance_top.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="7" class="to-copy">{{ measurement_form.length_tolerance_top }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.length_tolerance_top }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.length_target.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="8" class="to-copy">{{ measurement_form.length_target }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.length_target }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.length_tolerance_bottom.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="9" class="to-copy">{{ measurement_form.length_tolerance_bottom }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.length_tolerance_bottom }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.flat_crush_resistance_target.label }}</td>#}
{#                            <td>N/100mm</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="10" class="to-copy">{{ measurement_form.flat_crush_resistance_target }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.flat_crush_resistance_target }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.moisture_content_target.label }}</td>#}
{#                            <td>%</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="11" class="to-copy">{{ measurement_form.moisture_content_target }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.moisture_content_target }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td>{{ measurement_form.weight.label }}</td>#}
{#                            <td>KG</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="12" class="to-copy">{{ measurement_form.weight }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.weight }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                <tr>#}
{#                    {% for measurement_form in measurement_formset.forms %}#}
{#                        {% if forloop.first %}#}
{#                            <td colspan="2">{{ measurement_form.remarks.label }}</td>#}
{#                        {% endif %}#}
{#                        {% if forloop.last %}#}
{#                            <td id="13" class="to-copy">{{ measurement_form.remarks }}</td>#}
{#                        {% else %}#}
{#                            <td>{{ measurement_form.remarks }}</td>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{#        <button id="add-form-row" class="m-2 btn btn-secondary">Dodaj nowy pomiar</button>#}
        <hr class="border border-default">
        <!-- Measurement report form data-->
        {{ measurement_report_form.media }}
        <div class="row">
            <div class="col-md-3">
                {{ measurement_report_form.author.label_tag }}
                {{ measurement_report_form.author }}
            </div>
            <div class="col-md-3">
                {{ measurement_report_form.date_of_control.label_tag }}
                {{ measurement_report_form.date_of_control }}
            </div>
        </div>
    <span>
        <input type="submit" value="Zatwierdź" class="mt-3 btn btn-secondary">
        <a href="{% url 'orders:orders_list' %}" class="ml-2 mt-3 btn btn-primary">Anuluj</a>
    </span>
    </div>
    </form>
</div>
<script type="text/javascript" src="{% static "measurementReportReloading.js" %}"></script>
{% endblock %}
