{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card rounded">
    <h3 class="m-3">Dane raportu pomiarowego</h3>
    <hr class="border border-default">
    <div class="form-group card-body mb-0">
    <!-- Order data-->
    <div class="row">
        <div class="col md-3">
            <label>Klient:</label>
            <p class="form-control">{{ order.client.client_name }}</p>
        </div>
        <div class="col md-3">
            <label>Kod produktu:</label>
            <p class="form-control">{{ order.product.product_sap_id }}</p>
        </div>
        <div class="col md-3">
            <label>Numer partii:</label>
            <p class="form-control">{{ order.order_sap_id }}</p>
        </div>
        <div class="col md-3">
            <label>Data produkcji:</label>
            <p class="form-control">{{ order.date_of_production }}</p>
        </div>
    </div>
    <h3 class="m-1 mt-3 mb-2">Dane pomiarowe</h3>
        <!-- Measurements table -->
    <div class="row">
        {% for measurement in order.measurement_report.measurements.all %}
            {% if forloop.first %}
                <div class="col-md-3">
                <table class="table table-bordered" style="height: 740px;">
                    <tr style="height: 50px;">
                        <td colspan="2">
                            Paleta nr:
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td rowspan="3">
                            Kontrola średnicy wewnętrznej:
                        </td>
                        <td>Góra</td>
                    <tr style="height: 50px;">
                        <td>Środek</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>Dół</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td rowspan="3">Kontrola średnicy zewnętrznej:</td>
                        <td>Góra</td>
                    <tr style="height: 50px;">
                        <td>Środek</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>Dół</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td rowspan="3">
                            Kontrola długości:
                        </td>
                        <td>Góra</td>
                    <tr style="height: 50px;">
                        <td>Środek</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>Dół</td>
                    </tr>
                    <tr style="height: 70px;">
                        <td colspan="2">Kontrola wytrzymałości:</td>
                    </tr>
                    <tr style="height: 50px;">
                        <td colspan="2">
                            Wilgotność:
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td colspan="2">Waga:
                        </td>
                    </tr>
                    <tr style="height: 70px;">
                        <td colspan="2">Uwagi, klejenie, pakowanie:
                        </td>
                    </tr>
                </table>
            {% endif %}
            {% endfor %}
        </div>
            <div id="measurement-formset-unique" class="col-md-9 p-0"
                 style="overflow-x: auto; white-space: nowrap;">
                {% for measurement in order.measurement_report.measurements.all %}
                    {% if forloop.last %}
                        <div id="measurement-form-last" style="display: inline-block; width: 12%;" class="pl-1 pr-1">
                    {% else %}
                        <div style="display: inline-block; width: 12%;" class="pl-1 pr-1">
                    {% endif %}
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.pallet_number }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">-----</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.internal_diameter_tolerance_top }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.internal_diameter_target }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.internal_diameter_tolerance_bottom }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.external_diameter_tolerance_top }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.external_diameter_target }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.external_diameter_tolerance_bottom }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.length_tolerance_top }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.length_target }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.length_tolerance_bottom }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">mm</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 70px; border-radius: 0;">{{ measurement.flat_crush_resistance_target|default_if_none:'' }}</p>
                        <div class="input-group-append">
                                <span class="input-group-text">N/mm</span>
                        </div>
                    </div>
                   <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.moisture_content_target|default_if_none:'' }}</p>
                       <div class="input-group-append">
                                <span class="input-group-text">%</span>
                        </div>
                    </div>
                   <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 50px; border-radius: 0;">{{ measurement.weight|default_if_none:'' }}</p>
                       <div class="input-group-append">
                                <span class="input-group-text">kg</span>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <p class="form-control" style="height: 71px; border-radius: 0;">{{ measurement.remarks|default_if_none:'' }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    <br>
    <hr class="border border-default">
        <div class="row">
            <div class="col-md-3">
                <label>Kontrolował:</label>
                <p class="form-control">{{ order.measurement_report.author }}</p>
            </div>
            <div class="col-md-3">
                <label>Data kontroli:</label>
                <p class="form-control">{{ order.measurement_report.date_of_control }}</p>
            </div>
        </div>
    <span>
        <a href="{% url 'orders:orders-list' %}" class="ml-1 mt-3 btn btn-primary">Wstecz</a>
    </span>
    </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}