<form method="post">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Uwaga! Po zakończeniu pomiarów nie będzie możliwości edycji raportu pomiarowego -
        przed zamknięciem upewnij się, czy wszystkie wprowadzone dane zostały zapisane poprawnie. Czy chcesz kontynuować?</h5>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary " data-dismiss="modal">Nie</button>
    <button type="submit" class="btn btn-secondary">Tak</button>
  </div>

</form>