{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="card m-2 p-2 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            {% if object %} Zaktualizuj dane zlecenia produkcyjnego
            {% else %}Dodaj nowe zlecenie produkcyjne
            {% endif %}
        </h3>
    </div>
    <hr class="border border-default">
    <form method="post" class="mb-0 needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }}
        <div class="form-group card-body mb-0">
            <div class="row">
                <div class="col-sm-4 mb-2">
                    {{ form.order_sap_id.label_tag }}
                    {{ form.order_sap_id }}
                    <div class="invalid-feedback">
                        {{ form.validation_hints|get_item:'order_sap_id' }}
                    </div>
                </div>
                <div class="col-sm-4 mb-2">
                    {{ form.client.label_tag }}
                    {{ form.client }}
                    <div class="invalid-feedback">
                        {{ form.validation_hints|get_item:'client' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-2">
                    {{ form.product.label_tag }}
                    {{ form.product }}
                    <div class="invalid-feedback">
                        {{ form.validation_hints|get_item:'product' }}
                    </div>
                </div>
                <div class="col-sm-4 mb-2">
                    {{ form.date_of_production.label_tag }}
                    {{ form.date_of_production }}
                </div>
            </div>
            <br>
            <h5>Dane techniczne</h5>
            <br>
            <div class="row">
                <div class="col-sm-4 mb-2">
                    {{ form.length.label_tag }}
                    {{ form.length }}
                </div>
                <div class="col-sm-4 mb-2">
                    {{ form.quantity.label_tag }}
                    {{ form.quantity }}
                    <div class="invalid-feedback">
                        {{ form.validation_hints|get_item:'quantity' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-2">
                    {{ form.internal_diameter_reference.label_tag }}
                    {{ form.internal_diameter_reference }}
                </div>
                <div class="col-sm-4 mb-2">
                    {{ form.external_diameter_reference.label_tag }}
                    {{ form.external_diameter_reference }}
                </div>
            </div>
            <span>
                <input type="submit" value="Zapisz" class="mt-3 btn btn-secondary">
                <a href="{% url 'orders:orders_list' %}" class="ml-2 mt-3 btn btn-primary">Anuluj</a>
            </span>
        </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'clientSideValidation.js' %}"></script>
{% endblock %}
