{% extends 'base.html' %}
{% block content %}
    {% if perms.orders.view_order %}
        <a href="{% url "orders:order-new" %}" class="btn btn-secondary mb-2">Dodaj nowe zlecenie produkcyjne</a>
    {% endif %}
    <a href="{% url "orders:orders-list" %}?clear_filters=true" class="btn btn-secondary mb-2">Wyczyść filtry</a>
    <button onclick="window.location.reload();" class="btn btn-secondary mb-2">Odśwież</button>
    <form name="search-form" method="GET" action="{% url 'orders:orders-list'%}" class="m-0">
    <table class="table table-bordered mb-0">
    <tr class="d-flex">
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=client__client_name" style="width: 40%;">
                Klient:</a>
            <input class="form-control mt-2 mb-2" id="id_client_name" name="client_name" type="text" value="{{ request.session.client_name }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-1">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=order_sap_id" style="width: 40%;">
                Nr partii:</a>
            <input class="form-control mt-2 mb-2" id="id_order_sap_id" name="order_sap_id" type="text" value="{{ request.session.order_sap_id }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-1">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=product__product_sap_id" style="width: 40%;">
                Kod prod:</a>
            <input class="form-control mt-2 mb-2" id="id_product_sap_id" name="product_sap_id" type="text" value="{{ request.session.product_sap_id }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=date_of_production" style="width: 40%;">
                Data produkcji:</a>
                {{ date_filtering_form.media }}
            <div class="form-group form-inline mt-2 mb-1">
                {{ date_filtering_form.date_of_production_after.label_tag }}
                <div style="width: 80%;" class="ml-1">{{ date_filtering_form.date_of_production_after }}</div>
            </div>
            <div class="form-group form-inline mt-2 mb-1">
                {{ date_filtering_form.date_of_production_before.label_tag }}
                <div style="width: 80%;" class="ml-1">{{ date_filtering_form.date_of_production_before }}</div>
            </div>
        </th>
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=product__description" style="width: 40%;">
                Opis produktu:</a>
            <input class="form-control mt-2 mb-2" id="id_description" name="description" type="text" value="{{ request.session.description }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders-list' %}?ordering=status" style="width: 40%;">
                Status:</a>
            <select class="form-control mt-2" aria-label="Search" style="width: 100%;" id="id_status" name="status">
                <option value="" {% if request.session.status == '' %} selected {% endif %}>Wszystkie</option>
                <option value="Started" {% if request.session.status == 'Started' %} selected {% endif %}>Otwarte</option>
                <option value="Open" {% if request.session.status == 'Open' %} selected {% endif %}>W trakcie</option>
                <option value="Done" {% if request.session.status == 'Done' %} selected {% endif %}>Zakończone</option>
            </select>
        </th>
        <th class="col-2">
            <br>
            <button class="btn btn-outline-primary search-bar mt-2 mb-2" type="submit">Wyszukaj</button>
        </th>
    </tr>
    </table>
    </form>
    <table class="table table-bordered">
    {% for order in page_obj %}
    <tr class="d-flex"
        style="background-color: {% if order.status == 'Started' %} #66e861
        {% elif order.status == 'Open' %} #e7752e
        {% else %} #898585
        {% endif %};">
      <td class="col-sm-2">{{order.client.client_name}}</td>
      <td class="col-sm-1">{{order.order_sap_id}}</td>
      <td class="col-sm-1">{{order.product.product_sap_id}}</td>
      <td class="col-sm-2">{{order.date_of_production}}</td>
      <td class="col-sm-2">{{order.product.description}}</td>
      <td class="col-sm-2">{{order.get_status_display}}</td>
    <td class="col-sm-2">
        {% if perms.orders.view_order %}
            <a href="{% url "orders:order-detail" order.id %}" class="btn btn-secondary p-0 m-0">Info</a>
        {% endif %}
        {% if perms.orders.change_order %}
            <a href="{% url "orders:order-update" order.id %}" class="btn btn-secondary p-0 m-0">Edytuj</a>
        {% endif %}
        {% if perms.orders.delete_order %}
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
                </div>
            </div>
            <button id="{{ order.id }}" class="btn btn-secondary p-0 m-0" type="button" name="button">Usuń </button>
            <script type="text/javascript">
              $(function () {
                $("#{{ order.id }}").modalForm({formURL: "{% url 'orders:order-delete' order.id %}"});
              });
            </script>
        {% endif %}
        <!-- Measurement reports -->
        {% if perms.orders.view_measurementreport and order.status != 'Started'%}
            <a href="{% url "orders:measurement-report-detail" order.id %}" class="btn btn-secondary p-0 m-0">Wyświetl pomiary</a>
        {% endif %}
        {% if order.status == 'Started' and perms.orders.add_measurementreport%}
            <a href="{% url "orders:measurement-report-new" order.id %}" class="btn btn-secondary p-0 m-0">Dodaj pomiary</a>
        {% elif order.status == 'Open' and perms.orders.change_measurementreport %}
            <a href="{% url "orders:measurement-report-update" order.id %}" class="btn btn-secondary p-0 m-0">Edytuj pomiary</a>
        {% endif %}
    </td>
    </tr>
    {% endfor %}
</table>
{% if page_obj.paginator.num_pages > 1 %}
    {% include '_pagination.html' %}
{% endif %}
{% endblock %}
