{% extends 'base.html' %}
{% block content %}
    <a href="{% url "orders:order_new" %}" class="btn btn-secondary mb-2">Dodaj nowe zlecenie produkcyjne</a>
    <a href="{% url "orders:orders_list" %}?clear_filters=true" class="btn btn-secondary mb-2">Wyczyść filtry</a>
    <form name="search-form" method="GET" action="{% url 'orders:orders_list'%}" class="m-0">
    <table class="table table-bordered mb-0">
    <tr class="d-flex">
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=client_name&order_by={{ order_by }}" style="width: 40%;">
                Klient:</a>
            <input class="form-control mt-2 mb-2" name="search-client_name" type="text" value="{{ request.session.client_name }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-1">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=order_sap_id&order_by={{ order_by }}" style="width: 40%;">
                Nr partii:</a>
            <input class="form-control mt-2 mb-2" name="search-order_sap_id" type="text" value="{{ request.session.order_sap_id }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-1">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=product_sap_id&order_by={{ order_by }}" style="width: 40%;">
                Kod prod:</a>
            <input class="form-control mt-2 mb-2" name="search-product_sap_id" type="text" value="{{ request.session.product_sap_id }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=date_of_production&order_by={{ order_by }}" style="width: 40%;">
                Data produkcji:</a>
            <input class="form-control mt-2 mb-2" name="search-date_of_production" type="text" value="{{ request.session.date_of_production }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-2">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=product_sap_id&order_by={{ order_by }}" style="width: 40%;">
                Wymiary nominalne:</a>
{#            <input class="form-control mt-2 mb-2" name="search-product_sap_id" type="text" value="{{ request.session.product_sap_id }}" aria-label="Search" style="width: 100%; display: block;">#}
        </th>
        <th class="col-1">
            <a class="link mt-2 mb-2" href="{% url 'orders:orders_list' %}?sort_by=status&order_by={{ order_by }}" style="width: 40%;">
                Status:</a>
            <input class="form-control mt-2 mb-2" name="search-status" type="text" value="{{ request.session.status }}" aria-label="Search" style="width: 100%; display: block;">
        </th>
        <th class="col-3">
            <br>
            <button class="btn btn-outline-primary search-bar mt-2 mb-2" type="submit">Wyszukaj</button>
        </th>
    </tr>
    </table>
    </form>
    <table class="table table-bordered">
    {% for order in page_obj %}
    <tr class="d-flex"
        style="background-color: {% if order.status == 'Started' %} #3875d7
        {% elif order.status == 'Open' %} #993300
        {% else %} #525252
        {% endif %};">
      <td class="col-sm-2">{{order.client.client_name}}</td>
      <td class="col-sm-1">{{order.order_sap_id}}</td>
      <td class="col-sm-1">{{order.product.product_sap_id}}</td>
      <td class="col-sm-2">{{order.date_of_production}}</td>
      <td class="col-sm-2">{{order.product.product_sap_id}}</td>
      <td class="col-sm-1">{{order.get_status_display}}</td>
    <td class="col-sm-3">
        <a href="{% url "orders:order_detail" order.id %}" class="btn btn-secondary p-0 m-0">Info</a>
        <a href="{% url "orders:order_update" order.id %}" class="btn btn-secondary p-0 m-0">Edytuj</a>
        {% if order.status == 'Started' %}
            <a href="{% url "orders:measurement_report_new" order.id %}" class="btn btn-secondary p-0 m-0">Dodaj raport pomiarowy</a>
        {% elif order.status == 'Done' %}
{#            <a href="{% url "orders:measurement_report_detail" order.id %}" class="btn btn-secondary p-0 m-0">Wyświetl raport pomiarowy</a>#}
        {% else %}
            <a href="{% url "orders:measurement_report_update" order.id %}" class="btn btn-secondary p-0 m-0">Edytuj raport pomiarowy</a>
        {% endif %}
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
            </div>
        </div>
        <button id="{{ order.id }}" class="btn btn-secondary p-0 m-0" type="button" name="button">Usuń </button>
        <script type="text/javascript">
          $(function () {
            $("#{{ order.id }}").modalForm({formURL: "{% url 'orders:order_delete' order.id %}"});
          });
    </script>
    </td>
    </tr>
    {% endfor %}
</table>
{% if page_obj.paginator.num_pages > 1 %}
    {% include '_pagination.html' %}
{% endif %}
{% endblock %}
