{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="card m-2 p-2 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            {% if object %} Zaktualizuj dane produktu
            {% else %} Dodaj nowy produkt
            {% endif %}
        </h3>
    </div>
    <hr class="border border-default">
    <form id="product-form" method="post" class="mb-0 needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group card-body mb-0">
        <div class="row">
            <div class="col-sm-4 mb-2">
                {{ form.product.product_sap_id.label_tag }}
                {{ form.product.product_sap_id }}
                <div class="invalid-feedback">
                    {{ product_validation_hints|get_item:'product_sap_id' }}
                </div>
            </div>
            <div class="col-sm-4 mb-2">
                {{ form.product.index.label_tag }}
                {{ form.product.index }}
                <div class="invalid-feedback">
                    {{ product_validation_hints|get_item:'index' }}
                </div>
            </div>
            <div class="col-sm-4 mb-2">
                {{ form.product.description.label_tag }}
                {{ form.product.description }}
                <div class="invalid-feedback">
                    {{ product_validation_hints|get_item:'description' }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group card-body mb-0">
    <h3 class="m-2">Specyfikacja tulei papierowej</h3>
        <div class="row">
            <div class="col-lg-12">
            <table class="table table-bordered mt-2">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Wartość nominalna</th>
                  <th scope="col">Tolerancja</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        {{ form.spec.internal_diameter_target.label }}
                    </th>
                    <td>{{ form.spec.internal_diameter_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'float_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.internal_diameter_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                                </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.internal_diameter_tolerance_bottom }}
                                <div class="invalid-feedback">
                                {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.external_diameter_target.label }}</th>
                    <td>{{ form.spec.external_diameter_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'float_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.external_diameter_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.external_diameter_tolerance_bottom }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.wall_thickness_target.label }}</th>
                    <td>{{ form.spec.wall_thickness_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'float_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.wall_thickness_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.wall_thickness_tolerance_bottom }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.length_target.label }}</th>
                    <td>{{ form.spec.length_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'float_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.length_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.length_tolerance_bottom }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'float_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.flat_crush_resistance_target.label }}</th>
                    <td>{{ form.spec.flat_crush_resistance_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'integer_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.flat_crush_resistance_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'integer_field' }}
                                </div>
                            </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.flat_crush_resistance_tolerance_bottom }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'integer_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.moisture_content_target.label }}</th>
                    <td>{{ form.spec.moisture_content_target}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'integer_field' }}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                        <div class="p-2 mx-2">+</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.moisture_content_tolerance_top }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'integer_field' }}
                                </div>
                            </div>
                            <div class="p-2">-</div>
                            <div class="col-sm-4 mb-2">{{ form.spec.moisture_content_tolerance_bottom }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'integer_field' }}
                                </div>
                            </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.colour.label }}</th>
                    <td>{{ form.spec.colour}}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'colour' }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form.spec.finish.label }}</th>
                    <td> {{ form.spec.finish }}
                        <div class="invalid-feedback">
                            {{ spec_validation_hints|get_item:'finish' }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
        <h3 class="m-2">Specyfikacja opakowania</h3>
        <div class="row form-group">
                <div class="col-lg-12">
                    <table class="table table-bordered mt-2">
                    <tbody>
                        <tr>
                            <th scope="row">{{form.spec.maximum_height_of_pallet.label}}</th>
                            <td> {{ form.spec.maximum_height_of_pallet }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'maximum_height_of_pallet' }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{form.spec.pallet_wrapped_with_stretch_film.label}}</th>
                            <td> {{ form.spec.pallet_wrapped_with_stretch_film }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ form.spec.pallet_protected_with_paper_edges.label }}</th>
                            <td> {{ form.spec.pallet_protected_with_paper_edges }}</td>
                        </tr>
                       <tr>
                            <th scope="row">{{ form.spec.cores_packed_in.label }} </th>
                            <td> {{ form.spec.cores_packed_in }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{form.spec.quantity_on_the_pallet.label}}</th>
                            <td> {{ form.spec.quantity_on_the_pallet }}
                                <div class="invalid-feedback">
                                    {{ spec_validation_hints|get_item:'quantity_on_the_pallet' }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ form.spec.remarks.label }}</th>
                            <td> {{ form.spec.remarks }}
                                <div class="invalid-feedback">{{ spec_validation_hints|get_item:'remarks' }}</div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
        </div>
        <span>
            {% if type == 'detail' %}
                <a href="{% url 'products:products_list' %}" class="ml-2 mt-3 btn btn-primary">Wstecz</a>
            {% else %}
                <input type="submit" value="Zapisz" class="mt-3 btn btn-secondary">
                <a href="{% url 'products:products_list' %}" class="ml-2 mt-3 btn btn-primary">Anuluj</a>
            {% endif %}
        </span>
    </div>
    </form>
</div>
    <script type="text/javascript" src="{% static 'clientSideValidation.js' %}?version=2"></script>
{% endblock %}
