{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block navbar %}{% endblock %}
{% block content %}
<div class="card m-0 p-0 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            Wprowadź nowe hasło:
        </h3>
    </div>
    <hr class="border border-default">
    <form id="reset-password-form" method="post" class="mb-0 needs-validation" novalidate>
        {% csrf_token %}
            <div class="form-group card-body mb-0">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                <div class="invalid-feedback">
                    {{ form.validation_hints|get_item:'password' }}
                </div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                <div class="invalid-feedback">
                    {{ form.validation_hints|get_item:'password' }}
                </div>
                <span>
                    <input type="submit" value="Zatwierdź nowe hasło" class="mt-3 btn btn-secondary">
                </span>
            </div>
    </form>
</div>
<script type="text/javascript" src="{% static 'clientSideValidation.js' %}?version=2"></script>
{% endblock %}
