{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block navbar %}{% endblock %}
{% block content %}
<div class="card m-0 p-0 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            Haslo zostało zmienione
        </h3>
    </div>
    <hr class="border border-default">
    <p class="m-3">Możesz teraz ponownie się zalogować.</p>
    <a class="btn btn-secondary m-2" style="width: 20%;" href="{% url 'users:user_login' %}">Powrót do strony logowania</a>
</div>
{% endblock %}
