{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="card m-2 p-2 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            Dane konta użytkownika
        </h3>
    </div>
    <div class="card-body mb-0">
        <table class="table table-condensed">
            <tr>
                <th>Login</th>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ request.user.first_name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ request.user.last_name }}</td>
            </tr>
            <tr>
                <th>Hasło</th>
                <td>
                    <a href="{% url 'users:password-change' %}">Zmień hasło</a>
                </td>
            </tr>
            <tr>
                <th>Poziom uprawnień</th>
                <td>
                {% for group in request.user.groups.all %}
                    <p>{{ group }}</p>
                {% endfor %}
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:login' %}">Przejdź do panelu administratora</a>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}