
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="nav navbar-nav mr-auto">
      <li>
          <a class="nav-link" href="{% url 'products:products_list' %}">Produkty</a>
      </li>
      <li>
          <a class="nav-link" href="{% url 'clients:clients_list' %}?clear_filters=true">Klienci</a>
      </li>
      <li>
          <a class="nav-link" href="{% url 'orders:orders_list' %}">Zlecenia produkcyjne</a>
      </li>

  </ul>
    <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
{#            <a class="nav-link" href="#">Wyloguj się</a>#}
{#            <a class="nav-link" href="#"> Zaloguj się</a>#}
        </li>
    </ul>
</nav>

