{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cx_lab_db_dev</title>
    <style>
        body {
            background-color: #FEFFFF;
        }
    </style>
</head>
<body>
    <div id="navbar">
        {% block navbar %}
            {% include '_navbar.html' %}
        {% endblock %}
    </div>
    <div id="content" class="m-4 p-3 ">
    {% if messages %}
            {% for message in messages %}
            <div class="{% if message.tags == 'error'%} alert alert-danger {% else %} alert alert-secondary {% endif %}">
                {{ message }}
            </div>
            {% endfor %}
    {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
</body>
</html>