{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="card m-2 p-2 rounded" >
    <div class="header p-2 grey lighten-2">
        <h3 class="m-2">
            Dane klienta
        </h3>
    </div>
    <hr class="border border-default">
    <div class="form-group card-body mb-0">
        <div class="card" style="width: 18rem; float: left;">
          <div class="card-header">
            Numer SAP kliena:
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ client.client_sap_id}}</li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            Nazwa klienta:
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ client.client_name}}</li>
          </ul>
        </div>
        <a href="{% url 'clients:clients-list' %}" class="mt-3 btn btn-primary">Wstecz</a>
    </div>
</div>
{% endblock %}
